#ocean
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Droid Sans Mono 9
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false
#
[colors]

# special
foreground      = #303030
foreground_bold = #303030
cursor          = #303030
background      = #f5f5f5

# black
color0  = #151515
color8  = #505050

# red
color1  = #fb9fb1
color9  = #fb9fb1

# green
color2  = #acc267
color10 = #acc267

# yellow
color3  = #ddb26f
color11 = #ddb26f

# blue
color4  = #6fc2ef
color12 = #6fc2ef

# magenta
color5  = #e1a3ee
color13 = #e1a3ee

# cyan
color6  = #12cfc0
color14 = #12cfc0

# white
color7  = #d0d0d0
color15 = #f5f5f5

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
