#ocean
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Droid Sans Mono 8
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false
[colors]

# special
foreground      = #303030
foreground_bold = #303030
cursor          = #303030
background      = #f5f5f5

# black
color0  = #757475
color8  = #4a4a4a

# red
color1  = #936a6f
color9  = #d76572

# green
color2  = #668462
color10 = #4fae42

# yellow
color3  = #de935f
color11 = #ffa96d

# blue
color4  = #6e7291
color12 = #7782cf

# magenta
color5  = #87536d
color13 = #e08ab5

# cyan
color6  = #637e7b
color14 = #2ea89a

# white
color7  = #383838
color15 = #626262

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
