[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Droid Sans Mono 8
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false
#
[colors]
background=       #170F0D
foreground=       #746C48
cursor=           #6BA16C
color0=           #392925
color1=           #98724C
color2=           #908F32
color3=           #AA964C
color4=           #7B854E
color5=           #6B5644
color6=           #5C5142
color7=           #C8B55B
color8=           #544B2E
color9=           #AF652F
color10=          #C3C13D
color11=          #C8B55B
color12=          #70A16C
color13=          #98724C
color14=          #778725
color15=          #E4DC8C

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
