#ocean
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Dejavu Sans Mono 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]

# special
foreground      = #c0c5ce
foreground_bold = #c0c5ce
cursor          = #c0c5ce
background      = #2b303b

# black
color0  = #2b303b
color8  = #65737e

# red
color1  = #bf616a
color9  = #d08770

# green
color2  = #a3be8c
color10 = #343d46

# yellow
color3  = #ebcb8b
color11 = #4f5b66

# blue
color4  = #8fa1b3
color12 = #a7adba

# magenta
color5  = #b48ead
color13 = #dfe1e8

# cyan
color6  = #96b5b4
color14 = #ab7967

# white
color7  = #c0c5ce
color15 = #eff1f5

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
