#ocean
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Droid Sans Mono 8
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false
#
[colors]

# special
foreground      = #b4b394
foreground_bold = #b4b394
cursor          = #b4b394
background      = #171714

# black
color0  = #16150f
color8  = #3d4635

# red
color1  = #c74c2e
color9  = #ea8357

# green
color2  = #645e1e
color10 = #c1cb3d

# yellow
color3  = #b36316
color11 = #e8d550

# blue
color4  = #336276
color12 = #98c0c0

# magenta
color5  = #764862
color13 = #c28084

# cyan
color6  = #324f4d
color14 = #73b7ae

# white
color7  = #726b51
color15 = #b2c1a6

#
# 20% background transparency (requires a compositor)

#background = rgba(63, 63, 63, 0.8)

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
