nohup.out
.xinit.log

wm/.wm/timestamp

gtk/.config/gtk-3.0/bookmarks
gtk/.config/gtk-3.0/settings.ini
gtk/.themes/oomox-*

mpd/.config/mpd/pid
mpd/.config/mpd/log
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/database
mpd/.config/mpd/mpdcron.pid

ncmpcpp/.config/ncmpcpp/error.log

vim/.vim/*
!vim/.vim/colors

weechat/.weechat/irc.conf
weechat/.weechat/logs
weechat/.weechat/*fifo
weechat/.weechat/weechat.log
weechat/.weechat/script/plugins.xml.gz

qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/keys.conf
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/qutebrowser.conf
qutebrowser/.config/qutebrowser/qsettings
