nohup.out
*.*~

shell/.sh.d/extend

wm/.wm/panel/juicers/
wm/.wm/panel/logs
wm/.wm/panel/tools/icon
wm/.wm/timestamp
wm/.wm/scripts/theming/theme_perf.txt

mpd/.config/mpd/pid
mpd/.config/mpd/log
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/database
mpd/.config/mpd/mpdcron.pid

ncmpcpp/.config/ncmpcpp/error.log

vim/.vim/*
vim/.config/nvim/*
!vim/.config/nvim/init.vim

qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/qutebrowser.conf
qutebrowser/.config/qutebrowser/qsettings
