[submodule "acyl"]
	path = gtk/.icons/acyl
	url = https://github.com/neeasade/acyl
[submodule "walls"]
	path = wm/.wm/walls
	url = http://code.neeasade.net/walls
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs/
	branch = develop
