URxvt.foreground: #dcdccc
 
!URxvt.depth: 32
URxvt*background: #3f3f3f
 
URxvt.saveLines:32767
URxvt.scrollBar: false

URxvt*font: xft:uushi:pixelsize=12
 
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: uzbl-browser
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
 
URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779
 
URxvt*color0:	#3f3f3f
URxvt*color1:       #705050
URxvt*color2:     #60b48a
URxvt*color3:    #dfaf8f
URxvt*color4:      #506070
URxvt*color5:   #dc8cc3
URxvt*color6:      #8cd0d3
URxvt*color7:     #DCDCCC
 
URxvt*color8:      #709080
URxvt*color9:      #cc9393
URxvt*color10:    #7f9f7f
URxvt*color11:   #f0dfaf
URxvt*color12:     #94bff3
URxvt*color13:  #ec93d3
URxvt*color14:    #93e0e3
URxvt*color15:          #ffffff
 
!black
xterm*color0:         #353535
xterm*color8:         #666666
!red
xterm*color1:         #AE4747
xterm*color9:         #EE6363
!green
xterm*color2:         #556B2F
xterm*color10:        #9ACD32
!brown/yellow
xterm*color3:         #DAA520
xterm*color11:        #FFC125
!blue
xterm*color4:         #6F99B4
xterm*color12:        #7C96B0
!magenta
xterm*color5:         #8B7B8B
xterm*color13:        #D8BFD8
!cyan
xterm*color6:         #A7A15E
xterm*color14:        #F0E68C
!white
xterm*color7:         #DDDDDD
xterm*color15:        #FFFFFF

URxvt.iconFile: /usr/share/icons/Numix-Circle/48x48/applications/terminal.svg
