URxvt.foreground: #dcdccc
 
!URxvt.depth: 32
 
URxvt.saveLines:32767
URxvt.scrollBar: false


URxvt*font: xft:gohufont:pixelsize=12

URxvt*boldFont: xft:gohufont:pixelsize=12

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779

*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0

 
!black
xterm*color0:         #353535
xterm*color8:         #666666
!red
xterm*color1:         #AE4747
xterm*color9:         #EE6363
!green
xterm*color2:         #556B2F
xterm*color10:        #9ACD32
!brown/yellow
xterm*color3:         #DAA520
xterm*color11:        #FFC125
!blue
xterm*color4:         #6F99B4
xterm*color12:        #7C96B0
!magenta
xterm*color5:         #8B7B8B
xterm*color13:        #D8BFD8
!cyan
xterm*color6:         #A7A15E
xterm*color14:        #F0E68C
!white
xterm*color7:         #DDDDDD
xterm*color15:        #FFFFFF

URxvt*iconFile: /usr/share/icons/Numix-Circle/48x48/apps/terminal.svg

