/*Path Bar Styles*/

/* Middle toolbar-button */
NemoPathBar GtkButton.button,
NemoPathBar GtkButton.button:hover,
NemoPathBar GtkButton.button:active,
NemoPathBar GtkButton.button:active:hover,
NemoPathBar GtkButton.button:checked,
NemoPathBar GtkButton.button:checked:hover,
NemoPathBar GtkButton.button:insensitive,

NemoPathBar .button.text-button,
NemoPathBar .button.text-button:hover,
NemoPathBar .button.text-button:active,
NemoPathBar .button.text-button:active:hover,
NemoPathBar .button.text-button:checked,
NemoPathBar .button.text-button:checked:hover,
NemoPathBar .button.text-button:insensitive,

NemoPathBar.linked .button,
NemoPathBar.linked .button:hover,
NemoPathBar.linked .button:active,
NemoPathBar.linked .button:active:hover,
NemoPathBar.linked .button:checked,
NemoPathBar.linked .button:checked:hover,
NemoPathBar.linked .button:insensitive,

NautilusPathBar.linked .button.text-button,
NautilusPathBar.linked .button.text-button:hover,
NautilusPathBar.linked .button.text-button:active,
NautilusPathBar.linked .button.text-button:active:hover,
NautilusPathBar.linked .button.text-button:checked,
NautilusPathBar.linked .button.text-button:checked:hover,
NautilusPathBar.linked .button.text-button:insensitive,

NautilusPathBar.linked GtkButton.button,
NautilusPathBar.linked GtkButton.button:hover,
NautilusPathBar.linked GtkButton.button:active,
NautilusPathBar.linked GtkButton.button:active:hover,
NautilusPathBar.linked GtkButton.button:checked,
NautilusPathBar.linked GtkButton.button:checked:hover,
NautilusPathBar.linked GtkButton.button:insensitive {
    color: shade(@theme_fg_color, 0.76);
    border-right-width: 0px;
    border-left-width:  0px;
    border-radius: 0;
    border-image: none;
    box-shadow:  0    1px alpha(black, 0.26) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
			    -1px 0    alpha(white, 0.01) inset;
}

/* Leftmost toolbars-button */
NemoPathBar GtkButton.button:first-child,
NemoPathBar GtkButton.button:hover:first-child,
NemoPathBar GtkButton.button:active:first-child,
NemoPathBar GtkButton.button:active:hover:first-child,
NemoPathBar GtkButton.button:checked:first-child,
NemoPathBar GtkButton.button:checked:hover:first-child,
NemoPathBar GtkButton.button:insensitive:first-child,

NemoPathBar.linked .button:first-child,
NemoPathBar.linked .button:hover:first-child,
NemoPathBar.linked .button:active:first-child,
NemoPathBar.linked .button:first-child:active:hover,
NemoPathBar.linked .button:first-child:checked,
NemoPathBar.linked .button:first-child:checked:hover,
NemoPathBar.linked .button:first-child:insensitive,

NemoPathBar .button.text-button:first-child,
NemoPathBar .button.text-button:hover:first-child,
NemoPathBar .button.text-button:active:first-child,
NemoPathBar .button.text-button:active:hover:first-child,
NemoPathBar .button.text-button:checked:first-child,
NemoPathBar .button.text-button:checked:hover:first-child,
NemoPathBar .button.text-button:insensitive:first-child,

NautilusPathBar.linked .button.text-button:first-child,
NautilusPathBar.linked .button.text-button:hover:first-child,
NautilusPathBar.linked .button.text-button:active:first-child,
NautilusPathBar.linked .button.text-button:active:hover:first-child,
NautilusPathBar.linked .button.text-button:checked:first-child,
NautilusPathBar.linked .button.text-button:checked:hover:first-child,
NautilusPathBar.linked .button.text-button:insensitive:first-child,
NautilusPathBar.linked GtkButton.button:first-child,
NautilusPathBar.linked GtkButton.button:hover:first-child,
NautilusPathBar.linked GtkButton.button:active:first-child,
NautilusPathBar.linked GtkButton.button:active:hover:first-child,
NautilusPathBar.linked GtkButton.button:checked:first-child,
NautilusPathBar.linked GtkButton.button:checked:hover:first-child,
NautilusPathBar.linked GtkButton.button:insensitive:first-child {
    border-left-width: 0px;
    border-right-width: 0;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-image: none;
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(white, 0.28) inset,
				 0   3px alpha(black, 0.08) inset,
				-1px 0   alpha(white, 0.01) inset;
}

NemoPathBar GtkButton.button:backdrop:first-child,
NemoPathBar GtkButton.button:backdrop:hover:first-child,

NemoPathBar .button.text-button:backdrop:first-child,
NemoPathBar .button.text-button:backdrop:hover:first-child,

NemoPathBar.linked .button:backdrop:first-child,
NemoPathBar.linked .button:backdrop:hover:first-child,

NautilusPathBar.linked .button.text-button:backdrop:first-child,
NautilusPathBar.linked .button.text-button:hover:backdrop:first-child,
NautilusPathBar.linked GtkButton.button:backdrop:first-child,
NautilusPathBar.linked GtkButton.button:hover:backdrop:first-child {
    border-width: 0;
    border-image: none;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;
				 
}

NemoPathBar GtkButton.button:hover:first-child,
NemoPathBar .button.text-button:hover:first-child,
NemoPathBar.linked .button:first-child:hover,

NautilusPathBar.linked .button.text-button:hover:first-child,
NautilusPathBar.linked GtkButton.button:hover:first-child {
    box-shadow:  0    1px alpha(black, 0.66) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(black, 0.18) inset;
    border-image: none;
}

NemoPathBar GtkButton.button:active:first-child,
NemoPathBar GtkButton.button:active:hover:first-child,
NemoPathBar GtkButton.button:checked:first-child,
NemoPathBar GtkButton.button:checked:hover:first-child,

NemoPathBar .button.text-button:active:first-child,
NemoPathBar .button.text-button:active:hover:first-child,
NemoPathBar .button.text-button:checked:first-child,
NemoPathBar .button.text-button:checked:hover:first-child,

NemoPathBar.linked .button:first-child:active,
NemoPathBar.linked .button:first-child:hover:active,
NemoPathBar.linked .button:first-child:checked,
NemoPathBar.linked .button:first-child:checked:hover,

NautilusPathBar.linked .button.text-button:active:first-child,
NautilusPathBar.linked .button.text-button:active:hover:first-child,
NautilusPathBar.linked GtkButton.button:active:first-child,
NautilusPathBar.linked GtkButton.button:active:hover:first-child,
NautilusPathBar.linked .button.text-button:checked:first-child,
NautilusPathBar.linked .button.text-button:checked:hover:first-child,
NautilusPathBar.linked GtkButton.button:checked:first-child,
NautilusPathBar.linked GtkButton.button:checked:hover:first-child {
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(white, 0.28) inset,
				 0   3px alpha(black, 0.08) inset;
    border-image: none;
}

NemoPathBar GtkButton.button:insensitive:first-child,
NemoPathBar .button.text-button:insensitive:first-child,
NemoPathBar.linked .button:first-child:insensitive,

NautilusPathBar.linked .button.text-button:insensitive:first-child,
NautilusPathBar.linked GtkButton.button:insensitive:first-child {
    box-shadow:  0    1px alpha(black, 0.26) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(white, 0.01) inset;
    border-image: none;
}

NemoPathBar GtkButton.button:insensitive:first-child:backdrop,
NemoPathBar .button.text-button:insensitive:first-child:backdrop,
NemoPathBar.linked .button:first-child:backdrop:insensitive,

NautilusPathBar.linked .button.text-button:insensitive:first-child:backdrop,
NautilusPathBar.linked GtkButton.button:insensitive:first-child:backdrop {
    box-shadow:  0    1px alpha(black, 0.26) inset,
				 0   -1px alpha(black, 0.12) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(white, 0.01) inset;
    border-image: none;
}

/* Rightmost toolbar-button */
NemoPathBar GtkButton.button:last-child,
NemoPathBar GtkButton.button:hover:last-child,
NemoPathBar GtkButton.button:active:last-child,
NemoPathBar GtkButton.button:active:hover:last-child,
NemoPathBar GtkButton.button:checked:last-child,
NemoPathBar GtkButton.button:checked:hover:last-child,
NemoPathBar GtkButton.button:insensitive:last-child,

NemoPathBar .button.text-button:last-child,
NemoPathBar .button.text-button:hover:last-child,
NemoPathBar .button.text-button:active:last-child,
NemoPathBar .button.text-button:active:hover:last-child,
NemoPathBar .button.text-button:checked:last-child,
NemoPathBar .button.text-button:checked:hover:last-child,
NemoPathBar .button.text-button:insensitive:last-child,

NemoPathBar.linked .button:last-child,
NemoPathBar.linked .button:hover:last-child,
NemoPathBar.linked .button:active:last-child,
NemoPathBar.linked .button:last-child:active:hover,
NemoPathBar.linked .button:last-child:checked,
NemoPathBar.linked .button:last-child:checked:hover,
NemoPathBar.linked .button:last-child:insensitive,

NautilusPathBar.linked .button.text-button:last-child,
NautilusPathBar.linked .button.text-button:hover:last-child,
NautilusPathBar.linked .button.text-button:active:last-child,
NautilusPathBar.linked .button.text-button:active:hover:last-child,
NautilusPathBar.linked .button.text-button:checked:last-child,
NautilusPathBar.linked .button.text-button:checked:hover:last-child,
NautilusPathBar.linked .button.text-button:insensitive:last-child,
NautilusPathBar.linked GtkButton.button:last-child,
NautilusPathBar.linked GtkButton.button:hover:last-child,
NautilusPathBar.linked GtkButton.button:active:last-child,
NautilusPathBar.linked GtkButton.button:active:hover:last-child,
NautilusPathBar.linked GtkButton.button:checked:last-child,
NautilusPathBar.linked GtkButton.button:checked:hover:last-child,
NautilusPathBar.linked GtkButton.button:insensitive:last-child {
    border-width: 0;
    border-image: none;
    border-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(white, 0.28) inset,
				 0   3px alpha(black, 0.08) inset;			 
}

NemoPathBar GtkButton.button:backdrop:last-child,
NemoPathBar GtkButton.button:backdrop:hover:last-child,

NemoPathBar .button.text-button:backdrop:last-child,
NemoPathBar .button.text-button:backdrop:hover:last-child,

NemoPathBar.linked .button:backdrop:last-child,
NemoPathBar.linked .button:backdrop:hover:last-child,

NautilusPathBar.linked .button.text-button:backdrop:last-child,
NautilusPathBar.linked .button.text-button:hover:backdrop:last-child,
NautilusPathBar.linked GtkButton.button:backdrop:last-child,
NautilusPathBar.linked GtkButton.button:hover:backdrop:last-child {
    border-width: 0;
    border-image: none;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;
}

NemoPathBar GtkButton.button:hover:last-child,

NemoPathBar .button.text-button:hover:last-child,

NemoPathBar.linked .button:last-child:hover,

NautilusPathBar.linked .button.text-button:hover:last-child,
NautilusPathBar.linked GtkButton.button:hover:last-child {
    box-shadow:  0    1px alpha(black, 0.66) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(black, 0.18) inset;
     border-image: none;
}

NemoPathBar GtkButton.button:active:last-child,
NemoPathBar GtkButton.button:active:hover:last-child,
NemoPathBar GtkButton.button:checked:last-child,
NemoPathBar GtkButton.button:checked:hover:last-child,

NemoPathBar .button.text-button:active:last-child,
NemoPathBar .button.text-button:active:hover:last-child,
NemoPathBar .button.text-button:checked:last-child,
NemoPathBar .button.text-button:checked:hover:last-child,

NemoPathBar.linked .button:active:last-child,
NemoPathBar.linked .button:last-child:active:hover,
NemoPathBar.linked .button:last-child:checked,
NemoPathBar.linked .button:last-child:checked:hover,

NautilusPathBar.linked .button.text-button:active:last-child,
NautilusPathBar.linked .button.text-button:active:hover:last-child,
NautilusPathBar.linked GtkButton.button:active:last-child,
NautilusPathBar.linked GtkButton.button:active:hover:last-child,
NautilusPathBar.linked .button.text-button:checked:last-child,
NautilusPathBar.linked .button.text-button:checked:hover:last-child,
NautilusPathBar.linked GtkButton.button:checked:last-child,
NautilusPathBar.linked GtkButton.button:checked:hover:last-child {
    box-shadow:  0   1px alpha(black, 0.66) inset,
				 0  -1px alpha(white, 0.28) inset,
				 0   3px alpha(black, 0.08) inset,
				-1px 0   alpha(black, 0.14) inset;
    border-image: none;
    border-width: 0;
    border-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

NemoPathBar GtkButton.button:insensitive:last-child,

NemoPathBar .button.text-button:insensitive:last-child,

NemoPathBar.linked .button:last-child:insensitive,

NautilusPathBar.linked .button.text-button:insensitive:last-child,
NautilusPathBar.linked GtkButton.button:insensitive:last-child {
    box-shadow:  0    1px alpha(black, 0.26) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(white, 0.01) inset;
    border-image: none;
}

NemoPathBar GtkButton.button:insensitive:last-child:backdrop,

NemoPathBar .button.text-button:insensitive:last-child:backdrop,

NemoPathBar.linked .button:last-child:insensitive:backdrop,

NautilusPathBar.linked .button.text-button:insensitive:last-child:backdrop,
NautilusPathBar.linked GtkButton.button:insensitive:last-child:backdrop {
    box-shadow:  0    1px alpha(black, 0.26) inset,
				 0   -1px alpha(black, 0.12) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(white, 0.01) inset;
    border-image: none;
}

/* Linked single toolbar-button */
NemoPathBar GtkButton.button:only-child:only-child,
NemoPathBar .button.text-button:only-child:only-child,
NemoPathBar GtkButton.button:only-child:only-child:hover,
NemoPathBar .button.text-button:only-child:only-child:hover,
NemoPathBar GtkButton.button:only-child:only-child:active,
NemoPathBar .button.text-button:only-child:only-child:active,
NemoPathBar GtkButton.button:only-child:only-child:active:hover,
NemoPathBar .button.text-button:only-child:only-child:active:hover,
NemoPathBar GtkButton.button:only-child:only-child:checked,
NemoPathBar .button.text-button:only-child:only-child:checked,
NemoPathBar GtkButton.button:only-child:only-child:checked:hover,
NemoPathBar .button.text-button:only-child:only-child:checked:hover,
NemoPathBar GtkButton.button:only-child:only-child:insensitive,
NemoPathBar .button.text-button:only-child:only-child:insensitive,

NemoPathBar.linked .button:only-child:only-child,
NemoPathBar.linked .button:hover:only-child:only-child,
NemoPathBar.linked .button:hover:only-child:only-child,
NemoPathBar.linked .button:active:only-child:only-child,
NemoPathBar.linked .button:active:hover:only-child:only-child,
NemoPathBar.linked .button:checked:only-child:only-child,
NemoPathBar.linked .button:checked:hover:only-child:only-child,
NemoPathBar.linked .button:insensitive:only-child:only-child

NautilusPathBar.linked .button.text-button:only-child:only-child,
NautilusPathBar.linked .button.text-button:hover:only-child:only-child,
NautilusPathBar.linked .button.text-button:hover:only-child:only-child,
NautilusPathBar.linked .button.text-button:active:only-child:only-child,
NautilusPathBar.linked .button.text-button:active:hover:only-child:only-child,
NautilusPathBar.linked .button.text-button:checked:only-child:only-child,
NautilusPathBar.linked .button.text-button:checked:hover:only-child:only-child,
NautilusPathBar.linked .button.text-button:insensitive:only-child:only-child {
    border-width: 0px;
    border-radius: 7px;
    border-image: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

NemoPathBar GtkButton.button:backdrop:only-child,
NemoPathBar GtkButton.button:backdrop:hover:only-child,

NemoPathBar .button.text-button:backdrop:only-child,
NemoPathBar .button.text-button:backdrop:hover:only-child,

NemoPathBar.linked .button:backdrop:only-child,
NemoPathBar.linked .button:backdrop:hover:only-child,

NautilusPathBar.linked .button.text-button:backdrop:only-child,
NautilusPathBar.linked .button.text-button:hover:backdrop:only-child,
NautilusPathBar.linked GtkButton.button:backdrop:only-child,
NautilusPathBar.linked GtkButton.button:hover:backdrop:only-child {
    box-shadow:  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;
	border-image: none;			 
}

NemoPathBar GtkButton.button:hover:only-child,

NemoPathBar .button.text-button:hover:only-child,

NemoPathBar.linked .button:hover:only-child,

NautilusPathBar.linked .button.text-button:hover:only-child {
    box-shadow:  0    1px alpha(black, 0.66) inset,
				 0   -1px alpha(white, 0.28) inset,
				 0    3px alpha(black, 0.08) inset,
				 1px  0   alpha(black, 0.18) inset;
    border-image: none;
}

NemoPathBar GtkButton.button:active:only-child,
NemoPathBar .button.text-button:active:hover:only-child,
NemoPathBar GtkButton.button:checked:only-child,
NemoPathBar .button.text-button:checked:hover:only-child,

NemoPathBar.linked .button:active:only-child,
NemoPathBar.linked .button:active:hover:only-child,

NautilusPathBar.linked .button.text-button:active:only-child,
NautilusPathBar.linked .button.text-button:active:hover:only-child,
NautilusPathBar.linked .button.text-button:checked:only-child,
NautilusPathBar.linked .button.text-button:checked:hover:only-child {
    border-image: none;
    border-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

NemoPathBar GtkButton.button:insensitive:only-child,
NemoPathBar .button.text-button:insensitive:only-child,
NemoPathBar GtkButton.button:insensitive:only-child:backdrop,
NemoPathBar .button.text-button:insensitive:only-child:backdrop,

NemoPathBar.linked .button:insensitive:only-child,
NemoPathBar.linked .button:insensitive:only-child:backdrop,

NautilusPathBar.linked .button.text-button:insensitive:only-child,
NautilusPathBar.linked .button.text-button:insensitive:only-child:backdrop {
    border-image: none;
}

/************************************************************************/

NemonPathBar GtkButton.button,
NemoPathBar .button.text-button,

NautilusPathBar.linked.path-bar GtkButton.button,
NautilusPathBar.linked.path-bar .button.text-button,
NautilusPathBar .button.text-button,

NemoPathBar.linked .button {
    color: shade(@theme_fg_color, 0.88);
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    background-color:shade(@theme_bg_color, 0.7);
    background-image: url("assets/pathbar-carrot-dummy.png");
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 60ms ease-out;
    animation: none;
}

NemoPathBar GtkButton.button:backdrop,
NemoPathBar .button.text-button:backdrop,
NemoPathBar .button.text-button:backdrop,

NautilusPathBar.linked.path-bar GtkButton.button:backdrop,
NautilusPathBar.linked.path-bar .button.text-button:backdrop,
NautilusPathBar .button.text-button:backdrop,

NemoPathBar.linked .button:backdrop {
    color: shade(@theme_unfocused_fg_color, 0.54);
    text-shadow: none;
    icon-shadow: none;
    background-color:shade(@theme_bg_color, 0.7);
    box-shadow:                  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;	    
}

NemoPathBar GtkButton.button:hover,
NemoPathBar GtkButton.button:hover:first-child,
NemoPathBar GtkButton.button:hover:last-child,
NemoPathBar GtkButton.button:hover:only-child,

NemoPathBar .button.text-button:first-child:hover,
NemoPathBar .button.text-button:hover,
NemoPathBar .button.text-button:last-child:hover,
NemoPathBar .button.text-button:only-child:hover,

NautilusPathBar.linked.path-bar GtkButton.button:hover,
NautilusPathBar.linked.path-bar GtkButton.button:first-child:hover,
NautilusPathBar.linked.path-bar GtkButton.button:last-child:hover,
NautilusPathBar.linked.path-bar GtkButton.button:only-child:hover,
NautilusPathBar.linked.path-bar .button.text-button:hover,
NautilusPathBar.linked.path-bar .button.text-button:hover:first-child,
NautilusPathBar.linked.path-bar .button.text-button:hover:last-child,
NautilusPathBar.linked.path-bar .button.text-button:hover:only-child,
NautilusPathBar.linked .button.text-button:hover,
NautilusPathBar.linked .button.text-button:hover:first-child,
NautilusPathBar.linked .button.text-button:hover:last-child,
NautilusPathBar.linked .button.text-button:hover:only-child,

NemoPathBar.linked .button:hover,
NemoPathBar.linked .button:first-child:hover,
NemoPathBar.linked .button:last-child:hover,
NemoPathBar.linked .button:only-child:hover {
    border-color: transparent;
    color: #fff;
    text-shadow: none;
    background-image: 	url("assets/pathbar-carrot-dummy.png");
    background-repeat: no-repeat;
    background-position: bottom;
	animation: none;
}

NemoPathBar GtkButton.button:backdrop:hover,
NemoPathBar GtkButton.button:hover:active:backdrop,
NemoPathBar GtkButton.button:backdrop:hover:first-child,
NemoPathBar GtkButton.button:backdrop:hover:active:first-child,
NemoPathBar GtkButton.button:backdrop:hover:last-child,
NemoPathBar GtkButton.button:backdrop:hover:active:last-child,
NemoPathBar.linked .button:first-child:backdrop:hover,
NemoPathBar.linked .button:first-child:backdrop:hover:active,
NemoPathBar.linked .button:last-child:backdrop:hover,
NemoPathBar.linked .button:last-child:backdrop:hover:active,
NemoPathBar.linked .button:backdrop:hover,

NemoPathBar .button.text-button:backdrop:hover,
NemoPathBar .button.text-button:hover:active:backdrop,
NemoPathBar .button.text-button:backdrop:hover:first-child,
NemoPathBar .button.text-button:backdrop:hover:active:first-child,
NemoPathBar .button.text-button:backdrop:hover:last-child,
NemoPathBar .button.text-button:backdrop:hover:active:last-child,
NemoPathBar.linked .button:only-child:backdrop:hover,
NemoPathBar.linked .button:only-child:backdrop:hover:active,


NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover,
NautilusPathBar.linked.path-bar GtkButton.button:hover:active:backdrop,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:first-child,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:active:first-child,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:last-child,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:active:last-child,
NautilusPathBar.linked .button.text-button:backdrop:hover,
NautilusPathBar.linked .button.text-button:backdrop:hover:active,
NautilusPathBar.linked .button.text-button:backdrop:hover:first-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:active:first-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:last-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:active:last-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:only-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:active:only-child,
NautilusPathBar .button.text-button:backdrop:hover,
NautilusPathBar .button.text-button:backdrop:hover:active {
    color: shade(@theme_unfocused_fg_color, 1.26);
    background-image: none;
    background-color:shade(@theme_bg_color, 0.7);
}

NemoPathBar GtkButton.button:active,
NemoPathBar GtkButton.button:active,
NemoPathBar .button.text-button:checked,
NemoPathBar GtkButton:checked.button,
NemoPathBar .button:checked.text-button,
NemoPathBar.linked .button:checked,
NautilusPathBar.linked.path-bar GtkButton.button:active,
NautilusPathBar.linked.path-bar GtkButton:checked.button,
NautilusPathBar.linked .button.text-button:active,
NautilusPathBar.linked .button:checked.text-button,
NemoPathBar.linked .button:checked,

NemoPathBar GtkButton.button:active:first-child,
NemoPathBar GtkButton.button:active:first-child,
NemoPathBar .button.text-button:checked:first-child,
NemoPathBar GtkButton:checked.button:first-child,
NemoPathBar .button:checked.text-button:first-child,
NemoPathBar.linked .button:checked:first-child,
NautilusPathBar.linked.path-bar GtkButton.button:active:first-child,
NautilusPathBar.linked.path-bar GtkButton:checked.button:first-child,
NautilusPathBar.linked .button.text-button:active:first-child,
NautilusPathBar.linked .button:checked.text-button:first-child,
NemoPathBar.linked .button:checked:first-child,

NemoPathBar GtkButton.button:active:last-child,
NemoPathBar GtkButton.button:active:last-child,
NemoPathBar .button.text-button:checked:last-child,
NemoPathBar GtkButton:checked.button:last-child,
NemoPathBar .button:checked.text-button:last-child,
NemoPathBar.linked .button:checked:last-child,
NautilusPathBar.linked.path-bar GtkButton.button:active:last-child,
NautilusPathBar.linked.path-bar GtkButton:checked.button:last-child,
NautilusPathBar.linked .button.text-button:active:last-child,
NautilusPathBar.linked .button:checked.text-button:last-child,
NemoPathBar.linked .button:checked:last-child,

NemoPathBar GtkButton.button:active:only-child,
NemoPathBar GtkButton.button:active:only-child,
NemoPathBar .button.text-button:checked:only-child,
NemoPathBar GtkButton:checked.button:only-child,
NemoPathBar .button:checked.text-button:only-child,
NemoPathBar.linked .button:checked:only-child,
NautilusPathBar.linked.path-bar GtkButton.button:active:only-child,
NautilusPathBar.linked.path-bar GtkButton:checked.button:only-child,
NautilusPathBar.linked .button.text-button:active:only-child,
NautilusPathBar.linked .button:checked.text-button:only-child,
NemoPathBar.linked .button:checked:only-child {
    background-color: alpha(black,0.46);
    background-image: 	url("assets/pathbar-carrot.png"),
			linear-gradient(to bottom,
                                    shade(@theme_bg_color, 0.7),
                                    shade(@theme_bg_color, 0.7)
                                    );
    background-repeat: no-repeat;
    background-position: bottom;
   
	color: shade(@theme_selected_bg_color, 1.4);
	transition: 60ms ease-out;
	animation: none;
	text-shadow: none;
}

NemoPathBar GtkButton.button:active:hover,
NemoPathBar GtkButton.button:active:hover,
NemoPathBar .button.text-button:checked:hover,
NemoPathBar GtkButton:checked.button:hover,
NemoPathBar .button:checked.text-button:hover,
NemoPathBar.linked .button:checked:hover,
NautilusPathBar.linked.path-bar GtkButton.button:active:hover,
NautilusPathBar.linked.path-bar GtkButton:checked.button:hover,
NautilusPathBar.linked .button.text-button:active:hover,
NautilusPathBar.linked .button:checked.text-button:hover,
NemoPathBar.linked .button:checked:hover,

NemoPathBar GtkButton.button:active:first-child:hover,
NemoPathBar GtkButton.button:active:first-child:hover,
NemoPathBar .button.text-button:checked:first-child:hover,
NemoPathBar GtkButton:checked.button:first-child:hover,
NemoPathBar .button:checked.text-button:first-child:hover,
NemoPathBar.linked .button:checked:first-child:hover,
NautilusPathBar.linked.path-bar GtkButton.button:active:first-child:hover,
NautilusPathBar.linked.path-bar GtkButton:checked.button:first-child:hover,
NautilusPathBar.linked .button.text-button:active:first-child:hover,
NautilusPathBar.linked .button:checked.text-button:first-child:hover,
NemoPathBar.linked .button:checked:first-child:hover,

NemoPathBar GtkButton.button:active:last-child:hover,
NemoPathBar GtkButton.button:active:last-child:hover,
NemoPathBar .button.text-button:checked:last-child:hover,
NemoPathBar GtkButton:checked.button:last-child:hover,
NemoPathBar .button:checked.text-button:last-child:hover,
NemoPathBar.linked .button:checked:last-child:hover,
NautilusPathBar.linked.path-bar GtkButton.button:active:last-child:hover,
NautilusPathBar.linked.path-bar GtkButton:checked.button:last-child:hover,
NautilusPathBar.linked .button.text-button:active:last-child:hover,
NautilusPathBar.linked .button:checked.text-button:last-child:hover,
NemoPathBar.linked .button:checked:last-child:hover,

NemoPathBar GtkButton.button:active:only-child:hover,
NemoPathBar GtkButton.button:active:only-child:hover,
NemoPathBar .button.text-button:checked:only-child:hover,
NemoPathBar GtkButton:checked.button:only-child:hover,
NemoPathBar .button:checked.text-button:only-child:hover,
NemoPathBar.linked .button:checked:only-child:hover,
NautilusPathBar.linked.path-bar GtkButton.button:active:only-child:hover,
NautilusPathBar.linked.path-bar GtkButton:checked.button:only-child:hover,
NautilusPathBar.linked .button.text-button:active:only-child:hover,
NautilusPathBar.linked .button:checked.text-button:only-child:hover,
NemoPathBar.linked .button:checked:only-child:hover {
    background-color: alpha(black,0.46);
    background-image: 	url("assets/pathbar-carrot.png"),
			linear-gradient(to bottom,
                                    shade(@theme_bg_color, 0.7),
                                    shade(@theme_bg_color, 0.7)
                                    );
    background-repeat: no-repeat;
    background-position: bottom;
   
	color: shade(@theme_selected_bg_color, 1.4);
	transition: 60ms ease-out;
	animation: none;
	text-shadow: none;
}

NemoPathBar GtkButton.button:backdrop:hover:checked,
NemoPathBar GtkButton.button:backdrop:hover:checked:first-child,
NemoPathBar GtkButton.button:backdrop:hover:checked:last-child,
NemoPathBar .button.text-button:backdrop:hover:checked,
NemoPathBar .button.text-button:backdrop:hover:checked:first-child,
NemoPathBar .button.text-button:backdrop:hover:checked:last-child,
NemoPathBar .button.text-button:backdrop:hover:active,
NemoPathBar.linked .button:first-child:backdrop:hover:checked,
NemoPathBar.linked .button:last-child:backdrop:hover:checked,
NemoPathBar.linked .button:backdrop:hover:checked,

NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:checked,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:checked:first-child,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:hover:checked:last-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:checked,
NautilusPathBar.linked .button.text-button:backdrop:hover:checked:first-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:checked:last-child,
NautilusPathBar.linked .button.text-button:backdrop:hover:checked:only-child,
NautilusPathBar .button.text-button:backdrop:hover:active {
    background-image: 	url("assets/pathbar-carrot-backdrop.png");
    background-repeat: no-repeat;
    background-position: bottom;
	color: #fff;
	animation: none;
	box-shadow:                  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;
}

NemoPathBar GtkButton.button:backdrop:checked,
NemoPathBar GtkButton.button:backdrop:checked:first-child,
NemoPathBar GtkButton.button:backdrop:checked:last-child,
NemoPathBar GtkButton.button:backdrop:checked:only-child,
NemoPathBar .button.text-button:backdrop:checked,
NemoPathBar .button.text-button:backdrop:checked:first-child,
NemoPathBar .button.text-button:backdrop:checked:last-child,
NemoPathBar .button.text-button:backdrop:checked:only-child,
NemoPathBar .button.text-button:backdrop:active,
NemoPathBar.linked .button:first-child:backdrop:checked,
NemoPathBar.linked .button:last-child:backdrop:checked,
NemoPathBar.linked .button:only-child:backdrop:checked,
NemoPathBar.linked .button:backdrop:checked,

NautilusPathBar.linked.path-bar GtkButton.button:backdrop:checked,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:checked:first-child,
NautilusPathBar.linked.path-bar GtkButton.button:backdrop:checked:last-child,
NautilusPathBar.linked .button.text-button:backdrop:checked,
NautilusPathBar.linked .button.text-button:backdrop:checked:first-child,
NautilusPathBar.linked .button.text-button:backdrop:checked:last-child,
NautilusPathBar.linked .button.text-button:backdrop:checked:only-child,
NautilusPathBar .button.text-button:backdrop:active {
    background-image: 	url("assets/pathbar-carrot-backdrop.png");
    background-repeat: no-repeat;
    background-position: bottom;
				 animation: none;
	background-color:shade(@theme_bg_color, 0.9);			 
	color: shade(@theme_fg_color, 0.6);
}

NemoPathBar GtkButton.button:insensitive,
NemoPathBar .button.text-button:insensitive,
NemoPathBar.linked .button:insensitive,
NautilusPathBar.linked.path-bar GtkButton.button:insensitive,
NautilusPathBar.linked .button.text-button:insensitive{

    background-color: shade(@theme_bg_color, 0.7);
    background-image: 	url("assets/stripe-3.png");
    background-repeat: repeat;
    background-position: top left;
	
    animation: none;
}

NemoPathBar GtkButton.button:backdrop:insensitive,
NemoPathBar .button.text-button:backdrop:insensitive,
NemoPathBar .button.text-button:backdrop:insensitive,

NautilusPathBar.linked.path-bar GtkButton.button:backdrop:insensitive,
NautilusPathBar.linked.path-bar .button.text-button:backdrop:insensitive,
NautilusPathBar .button.text-button:backdrop:insensitive,

NemoPathBar.linked.raised GtkButton:backdrop:insensitive.button,
NemoPathBar.linked.raised GtkButton.button:backdrop:insensitive {
    color: shade(@theme_unfocused_fg_color, 0.54);
    text-shadow: none;
    icon-shadow: none;
    background-color:shade(@theme_bg_color, 0.7);
    background-image: 	url("assets/stripe-3.png");
    background-repeat: repeat;
    background-position: top left;
    box-shadow:                  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;	    
}

NemoPathBar.linked.raised GtkButton:backdrop.button,
NemoPathBar.linked.raised GtkButton.button:backdrop {
border-image: none;
border-width: 0;
border-color: transparent;
    color: shade(@theme_unfocused_fg_color, 0.54);
    text-shadow: none;
    icon-shadow: none;
    background-color:shade(@theme_bg_color, 0.7);
box-shadow:                  0   1px alpha(black, 0.26) inset,
				 0  -1px alpha(black, 0.12) inset,
				 0   3px alpha(black, 0.08) inset;
}

