URxvt.saveLines:32767
URxvt.scrollBar: false

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

urxvt*font:xft:termsyn:pixelsize=9:antialias=true:hinting=true
urxvt*boldFont:xft:termsyn:pixelsize=9:antialias=true:hinting=true

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! special
*.foreground:   #a2a2a2
*.background:   #292929
*.cursorColor:  #a2a2a2

! black
*.color0:       #4e4e4e
*.color8:       #777777

! red
*.color1:       #a9635d
*.color9:       #ffbbb2

! green
*.color2:       #468459
*.color10:      #9ddeaf

! yellow
*.color3:       #84763d
*.color11:      #e0ce91

! blue
*.color4:       #5879af
*.color12:      #b3d1ff

! magenta
*.color5:       #9c6594
*.color13:      #fabdf0

! cyan
*.color6:       #008592
*.color14:      #79e0ed

! white
*.color7:       #cfcfcf
*.color15:      #ffffff
