[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Dejavu Sans Mono 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default
browser = chromium

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]


# special
foreground      = #8ca68c
foreground_bold = #8ca68c
cursor          = #8ca68c
background      = #131513

# black
color0  = #131513
color8  = #687d68

# red
color1  = #e6193c
color9  = #e6193c

# green
color2  = #29a329
color10 = #29a329

# yellow
color3  = #c3c322
color11 = #c3c322

# blue
color4  = #3d62f5
color12 = #3d62f5

# magenta
color5  = #ad2bee
color13 = #ad2bee

# cyan
color6  = #1999b3
color14 = #1999b3

# white
color7  = #8ca68c
color15 = #f0fff0

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
