[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Dejavu Sans Mono 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]

# special
foreground      = #ffffff
foreground_bold = #ffffff
cursor          = #ffffff
background      = #111111

# black
color0  = #222222
color8  = #666666

# red
color1  = #e84f4f
color9  = #d23d3d

# green
color2  = #b7ce42
color10 = #bde077

# yellow
color3  = #fea63c
color11 = #ffe863

# blue
color4  = #66aabb
color12 = #aaccbb

# magenta
color5  = #b7416e
color13 = #e16a98

# cyan
color6  = #6d878d
color14 = #42717b

# white
color7  = #dddddd
color15 = #cccccc

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

# if unset, will reverse foreground and background
#highlight = #2f2f2f

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
