[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[credential]
	helper = cache --timeout 36000
[user]
	name = neeasade
	email = neeasade@users.noreply.github.com
[init]
	defaultBranch = main
	signingkey = ~/.ssh/id_rsa.pub
