@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/************************ DO NOT remove the Above line  **********************/
/************************ Add USER code BELLOW this line *********************/













/**************************** Dorian Theme ***************************/
                   /* by killhellokitty/jo-shva may 2014 */    
/* Blank background before clicked link page loads....
    see userContent.css for blank tab and initial Firefox startup blank
    before homepage loads */
    tabbrowser tabpanels {
    background-color: #1a1a1a !important;
    }

/* NavBar */


#nav-bar {
  -moz-appearance: none !important;
  background-image: linear-gradient(#121212, #121212) !important;
  background-color: #121212 !important;
  box-shadow: none !important;
  margin-top: -1px !important; /* Move up into the TabsToolbar */
  padding-top: 2px;
  padding-bottom: 2px;
  /* Position the toolbar above the bottom of background tabs */
  position: relative;
  z-index: 1;
  border-top: 1px solid #121212 !important;
}






/* Restyle bookmark bars -- tabs on top */

#navigator-toolbox #PersonalToolbar {
background: #121212!important;
  background-image:  none !important;
  border-top: 0px solid rgba(9,9,9,0.55) !important;
  border-bottom: 1px solid #101010 !important;
  box-shadow: 0px 1px 0 rgba(255,255,255,0.01) inset,
				inset 0 -1px 0 rgba(0,0,0, 0.16)!important;
  margin-bottom: -1px !important;			
}

/* Places toolbar *//* ::::: bookmark buttons ::::: */

#PersonalToolbar {
  font-size: .885em !important;
}

#personal-bookmarks {
  min-height: 18px !important;
}

toolbarbutton.bookmark-item {
  -moz-appearance: none !important;
  border: 1px solid rgba(0,0,0,.0) !important;
  border-radius: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  color: #ababab !important;
  text-shadow: none !important;
 background: transparent
			-moz-linear-gradient(rgba(0,0,0,.06), rgba(0,0,0,.03)) !important;
}

toolbarbutton.bookmark-item:hover {
  color: #dddddd !important;
  border: 1px solid rgb(11,35,62) !important;
background: transparent
			-moz-linear-gradient(rgb(23,75,132), rgb(19,63,110)) !important;
    box-shadow: 0 1px 1px rgba(255,255,255,.09) inset !important;
  -moz-transition: background-color .16s ease-in,
                   border-color .2s ease-in,
                   box-shadow .3s ease-in !important;
}

toolbarbutton.bookmark-item:hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"] {
  color: #ffffff !important;
  text-shadow: 0px 0px 3px rgba(91,151,34,0.85) !important;
  border: 1px solid rgb(11,35,62) !important;
background: transparent
			-moz-linear-gradient(rgb(23,75,132), rgb(19,63,110)) !important;
    box-shadow: 0 1px 1px rgba(255,255,255,.09) inset !important;
  -moz-transition: background-color .16s ease-in,
                   border-color .2s ease-in,
                   box-shadow .3s ease-in !important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container > #forward-button:not([open]):not(:active):not([disabled]):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled]):hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-container,
#back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
  background: rgba(6,136,184,1) !important;
  background-image: linear-gradient(to bottom,
                                      #267ad8,
                                      #195290 40%,
                                      #0f3054
                                      ) !important;
  border-color: #141414 #121212 !important;
  color: rgb(255,255,255);
  transition: background-color .1s ease-in,
              border-color .15s ease-in;
	box-shadow: 0px 1px rgba(255, 255, 255, 0.15) inset, 0px 1px rgba(255,255,255,0.09) !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):not([open]):not(:active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon {
  background: rgba(6,136,184,1) !important;
  background-image: linear-gradient(to bottom,
                                      #2066b4,
                                      #174b84 40%,
                                      #0d2948
                                      ) !important;
  border-color: #141414 #121212 !important;
  color: rgb(255,255,255);
  transition: background-color .1s ease-in,
              border-color .15s ease-in;
	box-shadow: 0px 1px rgba(255, 255, 255, 0.15) inset, 0px 1px rgba(255,255,255,0.09) !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover:active > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-badge-container {
  background: #151515 !important;
  border-color: #0f0f0f!important;
  box-shadow: 0px 2px 5px rgba(0,0,0,.5)inset,
			  0px 1px rgba(255,255,255,.05) !important;
  text-shadow: none!important;
  transition: background-color .1s ease-in,
              border-color .15s ease-in!important;
}

#nav-bar .toolbarbutton-1[checked]:not(:active):hover > .toolbarbutton-icon {
  background-color: rgba(0,0,0,.35)!important;
  transition: background-color .4s!important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled],:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon,
#back-button:[disabled="true"] > .toolbarbutton-icon {
/* edited by FT DeepDark's author */
  border-radius: 10000px !important;
  padding: 5px !important;
  border: 1px solid #121212 !important;
  background-image: linear-gradient(#1c1c1c,
					#1a1a1a 40%,
					#151515) !important;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.15) inset, 0px 1px rgba(255,255,255,0.09) !important;
  transition-property: background-color, box-shadow !important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled],:not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon,
#back-button:not([disabled="true"]) > .toolbarbutton-icon {
background-image: linear-gradient(#626262,
					#4d4d4d 40%,
					#2a2a2a) !important;				
  box-shadow: 0 0 0 1px hsla(210,54%,20%,.55),
              0 1px 0 hsla(210,54%,20%,.65) !important;
  transition: none;
}

#forward-button > .toolbarbutton-icon {
  border: 1px solid #2f2f2f !important;
}

/* Location bar */

#urlbar,
.searchbar-textbox,
toolbar textbox {

  border-top: 1px solid rgb(16,16,16) !important;
  border-left: 1px solid rgb(17,17,17) !important;
  border-right: 1px solid rgb(17,17,17) !important;
  border-bottom: 1px solid rgb(20,20,20) !important;
    border-radius: 3px !important;

  background: #3a3a3a !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset,
				0 2px rgba(0,0,0,0.08) inset,
				0 1px rgba(255,255,255,0.09) !important;
}

#urlbar:hover,
.searchbar-textbox:hover,
toolbar textbox:hover {
	background-color: #343434 !important;
	moz-transition: .60s ease-in-out !important;
}

/*


.searchbar-textbox {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
 }

[privatebrowsingmode=temporary] #urlbar,
[privatebrowsingmode=temporary] .searchbar-textbox {
  box-shadow: 0px 2px 4px  rgba(0,0,0,0.2) inset, 
			1px 1px 3px rgba(237,52,49,0.2)inset,
			-1px -1px 3px rgba(237,52,49,0.12)inset,
			   0px 1px 0 rgba(255,255,255,.1) !important;
}
*/

#urlbar[focused="true"],
.searchbar-textbox[focused="true"],
toolbar textbox[focused="true"] {
  background: #363636!important;
  -moz-transition: .40s ease-in !important;
    box-shadow: inset 2px 2px rgba(21,68,120, 0.1), 
                inset 3px 3px rgba(21,68,120, 0.1),
                inset -3px 0px rgba(21,68,120, 0.1),
                inset -2px -2px rgba(21,68,120, 0.2),
                inset -1px 1px #154478,
                inset 1px -1px #154478 !important;
}
.urlbar-textbox-container {
  color:#dbdbdb !important;
}

.searchbar-textbox[focused="true"],
.searchbar-textbox[focused="true"]:hover {
  	color: #efefef !important;
  }
  
.urlbar-textbox-container[focused="true"],
.urlbar-textbox-container[focused="true"]:hover {
  color: #f2f2f2 !important;
}

.urlbar-textbox-container:hover {
 color: #ababab !important;
}

/*
[privatebrowsingmode=temporary] #urlbar[focused="true"],
[privatebrowsingmode=temporary] .searchbar-textbox[focused="true"] {
  -moz-transition: .40s ease-in !important;
  box-shadow: 0px 2px 4px  rgba(0,0,0,0.36) inset, 
			1px 1px 1px rgba(237,52,49,0.4)inset,
			-1px -1px 1px rgba(237,52,49,0.3)inset,
			   0px 1px 0 rgba(255,255,255,.12) !important;
}
*/


/* combined go/reload/stop button in location bar */
/*
#urlbar > toolbarbutton {
  -moz-appearance: none !important;
  background-origin: border-box!important;
  border: none!important;
  border-left: 2px solid !important;
  -moz-border-left-colors:    rgba(0, 0, 0, 0.32) rgba(255, 255, 255, 0.03)!important;
  border-top-right-radius: 3px!important;
  border-bottom-right-radius:3px!important;
  -moz-transition: opacity 150ms ease-out!important;
  margin-right: -1px !important;
  margin-top: -3px !important;
  margin-bottom: -3px !important;
  padding-right: 4px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 4px !important;
}

#urlbar > toolbarbutton:-moz-locale-dir(rtl){
  border-left: 0px !important;
  border-right: 2px solid !important;
  -moz-border-left-colors: rgba(255, 255, 255, 0.03) rgba(0, 0, 0, 0.32) !important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-top-left-radius: 3px!important;
  border-bottom-left-radius: 3px!important;
}

#urlbar > toolbarbutton:not([disabled]):active:hover {
  background: rgba(0,0,0,0.18) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2)inset,
				0 -1px 0 rgba(0,0,0,0.12)inset,
				-1px 0 0 rgba(0,0,0,0.16)inset,
				1px 0 0 rgba(255,255,255,0.016)inset,
				-1px 0 0 rgba(0,0,0,0.06)!important;
}

#urlbar > toolbarbutton:not([disabled]):hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2)inset,
				0 -1px 0 rgba(0,0,0,0.12)inset,
				-1px 0 0 rgba(0,0,0,0.16)inset,
				1px 0 0 rgba(255,255,255,0.016)inset,
				-1px 0 0 rgba(0,0,0,0.06)!important;
}

#urlbar > toolbarbutton:not([disabled]):active:hover:-moz-locale-dir(rtl){ 
  box-shadow: 0 1px 1px rgba(0,0,0,0.2)inset,
				0 -1px 0 rgba(0,0,0,0.12)inset,
				1px 0 0 rgba(0,0,0,0.16)inset,
				-1px 0 0 rgba(255,255,255,0.016)inset,
				1px 0 0 rgba(0,0,0,0.06)!important;
}

#urlbar > toolbarbutton:not([disabled]):hover:-moz-locale-dir(rtl){ 
  box-shadow: 0 1px 1px rgba(0,0,0,0.2)inset,
				0 -1px 0 rgba(0,0,0,0.12)inset,
				1px 0 0 rgba(0,0,0,0.16)inset,
				-1px 0 0 rgba(255,255,255,0.016)inset,
				1px 0 0 rgba(0,0,0,0.06)!important;
}

#urlbar-reload-button:not([disabled]):hover {
  background: #154478!important;
  }

#urlbar-go-button:hover {
  background: #154478!important;
  }

#urlbar-stop-button:hover {
  background: rgba(237,52,49,0.34)!important;
  }*/

/* primary toolbar buttons */
/*
#nav-bar {
  
  counter-reset: smallicons!important;
}*/

/****/
/*
window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button > #forward-button {
 -moz-appearance: none !important;
 
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  -moz-margin-end: 0 !important;
  border-right: 0px !important;
  border-left: 0px !important;
  transition: background-color .2s ease-in !important;
  box-shadow: 0px 1px 0px rgba(24,24,24,0.8) inset,
				0 -1px 1px rgba(0,0,0,0.2)inset,
				-1px 0 0 rgba(26,26,26,0.8)inset,
				1px 0 1px rgba(0,0,0,0.16),
			  0px 1px 0 rgba(255,255,255,.09) !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not([switchingtabs]) > #forward-button {
  transition: opacity 150ms ease-out !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:not(:hover) > #forward-button[disabled] {
  opacity: 0 !important;
}

window:not([chromehidden~=toolbar]) #navigator-toolbox[iconsize=large][mode=icons] > :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"],#nav-bar:not([currentset])) > #unified-back-forward-button:hover > #forward-button[disabled] {
  box-shadow: none !important;
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button {
  -moz-appearance: none !important;   
  border-radius: 3px!important;    
  padding: 0!important;   
  position: relative !important;
  z-index: 1 !important;
  width: 34px !important;
  height: 30px !important;
  margin-top: 2px!important;
  margin-bottom: 2px !important;

  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.09), 
					rgba(255,255,255,.0) 49%, 
					rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #313131!important; 
					   
  border-top: 1px solid rgb(46,46,46) !important;
  border-left: 1px solid rgb(28,28,28) !important;
  border-right: 1px solid rgb(28,28,28) !important;
  border-bottom: 1px solid rgb(26,26,26) !important;    
  box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 -1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;
}

#clearDownloadsButton {
  -moz-appearance: none !important;   
  border-radius: 3px!important;    
  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.09), 
					rgba(255,255,255,.0) 49%, 
					rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #313131!important; 
					   
  border-top: 1px solid rgb(46,46,46) !important;
  border-left: 1px solid rgb(28,28,28) !important;
  border-right: 1px solid rgb(28,28,28) !important;
  border-bottom: 1px solid rgb(26,26,26) !important;    
  box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 -1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;
}

#back-button {
  -moz-appearance: none !important;   
  border-radius: 3px 0 0 3px!important;    
  padding: 1px!important; 
  margin-top: 2px!important;
  margin-bottom: 2px !important;
  margin-left: 2px!important;
  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.09), 
					rgba(255,255,255,.0) 49%, 
					rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #313131!important; 
					   
  border-top: 1px solid rgb(46,46,46) !important;
  border-left: 1px solid rgb(28,28,28) !important;
  border-right:0px solid !important;
  border-bottom: 1px solid rgb(26,26,26) !important;    
  box-shadow: -1px 0 0 rgba(0,0,0,0.16)inset, 
				1px 1px 2px rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 -1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;
}

#clearDownloadsButton:not([disabled]):hover,
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button:not([disabled="true"]):not([checked="true"]):not(:active):hover,
#back-button:not([disabled]):hover {
  padding: 1px!important;
  -moz-appearance: none !important; 
  -moz-border-image: none!important;     
  background:-moz-linear-gradient(rgba(255,255,255,.08), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.11), rgba(255,255,255,.0) 49%, 
               rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #154478!important;   
  border-top: 1px solid #123a66 !important; 
  border-left: 1px solid #0F2F54 !important; 
  border-right: 1px solid #0F2F54 !important; 
  border-bottom: 1px solid #0b2441 !important; 
  box-shadow:  -1px -1px 1px 1px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.26) inset,
				 -1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;  
 }
 
 #back-button:not([disabled]):hover {     
  background:-moz-linear-gradient(rgba(255,255,255,.08), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.11), rgba(255,255,255,.0) 49%, 
               rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #154478!important;   
  border-top: 1px solid #123a66 !important; 
  border-left: 1px solid #0F2F54 !important;  
  border-bottom: 1px solid #0b2441 !important; 
  border-right: 0 solid !important; 
	box-shadow: -1px 0 0 rgba(0,0,0,0.16)inset, 
				1px 1px 2px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.26) inset,
				 -1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;			 
 }

#clearDownloadsButton:not([disabled]):active,
#clearDownloadsButton:not([disabled]):active:hover,
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button:not([disabled="true"]):hover:active,
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button[open="true"]:hover,
#back-button:not([disabled]):active,
#back-button:not([disabled]):active:hover {
  -moz-appearance: none !important; 
  background: -moz-linear-gradient(rgba(255,255,255,.00), 
					rgba(255,255,255,.0) 50%, rgba(255,255,255,0.055)), 
					-moz-linear-gradient(rgba(0,0,0,.11), 
					rgba(0,0,0,.0) 49%, 
					rgba(255,255,255,.0) 51%, 
					rgba(255,255,255,.08)), #0d2b4d!important; 
  border-top: 1px solid #123a66 !important; 
  border-left: 1px solid #0F2F54 !important; 
  border-right: 1px solid #0F2F54 !important; 
  border-bottom: 1px solid #0b2441 !important;				
  box-shadow: 0px -2px 2px rgba(255, 255, 255, 0.04) inset, 
				0px 2px 0px rgba(255, 255, 255, 0.16) inset,
				 -1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;               
}

#back-button:not([disabled]):active,
#back-button:not([disabled]):active:hover { 
  background: -moz-linear-gradient(rgba(255,255,255,.00), 
					rgba(255,255,255,.0) 50%, rgba(255,255,255,0.055)), 
					-moz-linear-gradient(rgba(0,0,0,.11), 
					rgba(0,0,0,.0) 49%, 
					rgba(255,255,255,.0) 51%, 
					rgba(255,255,255,.08)), #0d2b4d!important; 
  border-top: 1px solid #123a66 !important; 
  border-left: 1px solid #0F2F54 !important; 
  border-right: 0px solid !important; 
  border-bottom: 1px solid #0b2441 !important;				  			 
	box-shadow: -1px 0 0 rgba(0,0,0,0.16)inset, 
				0px -1px 2px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.16) inset,
				 -1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;			              
}

#clearDownloadsButton[disabled="true"],
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button[disabled],
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #back-button[disabled="true"],
#back-button[disabled="true"] { 
  background: url("images/stripe-5.png"), #3a3a3a!important;				
    background-size: 6px!important;
    background-repeat: repeat!important;
}

#back-button[disabled="true"] { 
  background: url("images/stripe-5.png"), #3a3a3a!important;
  border-right: 0 solid !important;				
    background-size: 6px!important;
    background-repeat: repeat!important;
    box-shadow: -1px 0 0 rgba(0,0,0,0.16)inset, 
				1px 1px 2px rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 -1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;
}

#clearDownloadsButton,
#clearDownloadsButton:not([disabled]):hover {
	width: 100%!important;
	height: 100%!important;
	margin: 0 !important;
	padding: 4px 5px !important;
}

toolbar:not([iconsize="small"])[mode="icons"][currentset*="unified-back-forward-button"],
#nav-bar:not([iconsize="small"])[mode="icons"]:not([currentset]) {
  padding-top: 3px!important;
  padding-bottom: 6px!important;
}

#navigator-toolbox[tabsontop="true"] > toolbar:not([iconsize="small"])[mode="icons"][currentset*="unified-back-forward-button"],
#navigator-toolbox[tabsontop="true"] > #nav-bar:not([iconsize="small"])[mode="icons"]:not([currentset]) {
  padding-top: 5px!important;
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #forward-button,
      window:not([chromehidden~=toolbar]) :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"][mode=icons], 
      #nav-bar:not([currentset])[mode=icons]) > #unified-back-forward-button > #forward-button {
  -moz-appearance: none !important; 
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar")!important;
  -moz-margin-start: -6px !important;
  padding: 0 !important;
  border-radius: 0px  !important;
  margin-top: 5px!important;
  margin-bottom: 5px !important;
  padding-left: 7px !important;
  padding-right: 3px !important;
  background: -moz-linear-gradient(rgba(255,255,255,.03), 
					rgba(255,255,255,.0) 25%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 49%, 
					rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #313131!important; 
  border: 0 solid!important;
  box-shadow:  0 1px 1px rgb(34,34,34) inset, 
				0 -1px 0 rgb(20,20,20) inset, 
				0px -2px 2px rgba(255, 255, 255, 0.04) inset, 
				0px 2px 0px rgba(255, 255, 255, 0.16) inset,
				 0 1px 2px rgba(0,0,0, 0.24), 
				 0 -1px 2px rgba(0,0,0,0.02)!important;
	-moz-transition: .2s ease-in !important;			 
  }

#placesToolbar #forward-button {
  -moz-appearance: none !important;   
  border-radius: 0 3px 3px 0!important;    
  padding: 1px!important; 
  margin-top: 2px!important;
  margin-bottom: 2px !important;
  margin-right: 2px !important;
  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.09), 
					rgba(255,255,255,.0) 49%, 
					rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #313131!important; 
					   
  border-top: 1px solid rgb(46,46,46) !important;
  border-left: 0px solid rgba(255,255,255,0.06) !important;
  border-right: 1px solid rgb(28,28,28) !important;
  border-bottom: 1px solid rgb(26,26,26) !important;    
  box-shadow: 1px 0 0 rgba(255,255,255,0.06)inset, 
				-1px 1px 0 rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;
}

#placesToolbar #forward-button:not([disabled]):hover {
  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.11), rgba(255,255,255,.0) 49%, 
               rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #154478!important; 
  box-shadow:  -1px -1px 1px 1px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important; 
  border-top: 1px solid #123a66 !important; 
  border-right: 1px solid #0F2F54 !important;  
  border-bottom: 1px solid #0b2441 !important; 
  border-left: 0 solid !important; 
	box-shadow: 1px 0 0 rgba(255,255,255,0.06)inset, 
				-1px 1px 0 rgba(255, 255, 255, 0.04) inset,  
				0px 1px 0px rgba(255, 255, 255, 0.26) inset,
				 1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;  
  -moz-transition: .2s ease-in !important;			            
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #forward-button:not([disabled="true"]):not(:active):hover,
#forward-button:not([disabled]):hover {
-moz-appearance: none !important;
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar")!important;
  padding: 0 !important;
  padding-left: 7px !important;
  padding-right: 3px !important;
  margin-top: 5px!important;
  margin-bottom: 5px !important;
  background: -moz-linear-gradient(rgba(255,255,255,.06), 
					rgba(255,255,255,.0) 35%, rgba(255,255,255,0.0)), 
					-moz-linear-gradient(rgba(255,255,255,.11), rgba(255,255,255,.0) 49%, 
               rgba(0,0,0,.0) 50%, rgba(0,0,0,.08)), #154478!important;
  border-top: 1px solid #123a66 !important; 
  border-bottom: 1px solid #0b2441 !important; 
  box-shadow:  -1px -1px 1px 1px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important; 
	-moz-transition: opacity .2s ease-in !important;			            
}



#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #forward-button:not([disabled="true"]):hover:active,
#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #forward-button[open="true"]:hover,
#forward-button:not([disabled]):active,
#forward-button:not([disabled]):active:hover {
-moz-appearance: none !important;
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar")!important;
  background:  -moz-linear-gradient(rgba(255,255,255,.00), 
					rgba(255,255,255,.0) 40%, rgba(255,255,255,0.055)), 
					-moz-linear-gradient(rgba(0,0,0,.11), 
					rgba(0,0,0,.0) 49%, 
					rgba(255,255,255,.0) 51%, 
					rgba(255,255,255,.08)),#0d2b4d!important;
	border-top: 1px solid #123a66 !important; 
  border-bottom: 1px solid #0b2441 !important;				
  box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.10) inset,
				 1px -1px 1px 1px rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;             
}

#placesToolbar #forward-button:not([disabled]):active,
#placesToolbar #forward-button:not([disabled]):active:hover {
-moz-appearance: none !important;
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar")!important;
  background:  -moz-linear-gradient(rgba(255,255,255,.00), 
					rgba(255,255,255,.0) 40%, rgba(255,255,255,0.055)), 
					-moz-linear-gradient(rgba(0,0,0,.11), 
					rgba(0,0,0,.0) 49%, 
					rgba(255,255,255,.0) 51%, 
					rgba(255,255,255,.08)),#0d2b4d!important;
	border-top: 1px solid #123a66 !important; 
  border-right: 1px solid #0F2F54 !important; 
  border-left: 0px solid !important; 
  border-bottom: 1px solid #0b2441 !important;				  			 
	box-shadow: 1px 0 0 rgba(255,255,255,0.06)inset,
				0px -1px 2px rgba(255, 255, 255, 0.04) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.16) inset,
				 1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;	            
}

#placesToolbar #forward-button[disabled="true"] { 
  background: url("images/stripe-5.png"), #3a3a3a!important;
  border-left: 0 solid !important;				
    background-size: 6px!important;
    background-repeat: repeat!important;
    box-shadow: 1px 0 0 rgba(255,255,255,0.06)inset, 
				-1px 1px 0 rgba(255, 255, 255, 0.03) inset, 
				0px 1px 0px rgba(255, 255, 255, 0.11) inset,
				 1px -1px 0 rgba(0,0,0,0.06),
				 0 1px 2px  rgba(0,0,0,0.16)!important;    
  -moz-transition: .2s ease-in !important;
}*/

/******************************* Status panel ********************************/
.statuspanel-label {
  margin: 0!important;
  padding: 2px 4px!important;
  border: 1px solid #171717!important;
  border-radius: 2px 2px 0 0!important;
  border-bottom-style: none !important;
  text-shadow: none!important;
  background-color: #1a1a1a !important;
  background-image: none!important;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.06) inset,
				1px 0 0 rgba(0,0,0, 0.36) inset,
				-1px 0 0 rgba(0,0,0, 0.3) inset,
				-2px -2px 4px rgba(0,0,0,0.2),
				-2px 0 4px rgba(0,0,0,0.2)!important;
  color: #ababab !important;
  font-weight: bold !important;
  font-size: 0.975em !important;
}

/************************* Text Input Boxes ***************************/

textbox,
.menulist-editable-box {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  border: 1px solid rgb(0,0,0) !important;
  border-top: 1px solid rgb(10,10,10) !important;
  border-left: 1px solid rgb(12,12,12) !important;
  border-right: 1px solid rgb(12,12,12) !important;
  border-bottom: 1px solid rgb(22,22,22) !important;
  background: rgba(0,0,0,0.3) !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2) inset,
				0 1px 0 rgba(0,0,0,0.08) inset,
			  0px 1px 0 rgba(255,255,255,.1) !important;
}

tabpanels textbox,
tabpanels .menulist-editable-box,
tabpanels .numberbox-input-box {
  -moz-appearance: none !important;
  border: 1px solid rgb(0,0,0) !important;
  border-top: 1px solid rgb(4,4,4) !important;
  border-left: 1px solid rgb(5,5,5) !important;
  border-right: 1px solid rgb(5,5,5) !important;
  border-bottom: 1px solid rgb(8,8,8) !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2) inset,
				0 1px 0 rgba(0,0,0,0.08) inset,
			  0px 1px 0 rgba(255,255,255,.024) !important;
			  
}

.numberbox-input-box,
.spinnbuttons-box,
.spinbuttons-button {
  -moz-appearance: none !important;
  background: transparent !important;
  border: transparent !important;
}

.numberbox-input-box,
.spinnbuttons-box {
 border-radius: 3px 0 0 3px!important;
}

.spinbuttons-button {
  border-left: 2px solid !important;
  -moz-border-left-colors:    rgba(0, 0, 0, 0.32) rgba(255, 255, 255, 0.04)!important;
  } 



textbox[focused="true"],
.menulist-editable-box[focused="true"] {
  border-top: 1px solid rgb(4,4,4) !important;
  border-left: 1px solid rgb(5,5,5) !important;
  border-right: 1px solid rgb(5,5,5) !important;
  border-bottom: 1px solid rgb(12,12,12) !important;
  background: #080808 !important;
  -moz-transition: .40s ease-in !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2) inset,
				0 1px 0 rgba(0,0,0,0.08) inset,
			  0px 1px 0 rgba(255,255,255,.13) !important;
}

tabpanels textbox[focused="true"],
tabpanels .menulist-editable-box[focused="true"],
tabpanels .numberbox-input-box[focused="true"] {
  -moz-appearance: none !important;
  border: 1px solid rgb(0,0,0) !important;
  border-top: 1px solid rgb(2,2,2) !important;
  border-left: 1px solid rgb(3,3,3) !important;
  border-right: 1px solid rgb(3,3,3) !important;
  border-bottom: 1px solid rgb(7,7,7) !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2) inset,
				0 1px 0 rgba(0,0,0,0.08) inset,
			  0px 1px 0 rgba(255,255,255,.03) !important;
			  
}

textbox[disabled="true"],
.menulist-editable-box[disabled="true"] {
  border-top: 1px solid rgb(16,16,16) !important;
  border-left: 1px solid rgb(16,16,16) !important;
  border-right: 1px solid rgb(16,16,16) !important;
  border-bottom: 1px solid rgb(20,20,20) !important;
  background:  rgba(0,0,0,0.16) !important;
  background-image: url("images/stripe-3.png")!important;
  background-size: 6px;
    background-repeat: repeat;
    background-position: top left;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.14) inset,
				0 1px 0 rgba(0,0,0,0.04) inset,
			  0px 1px 0 rgba(255,255,255,.08) !important;
}

tabpanels textbox[disabled="true"],
tabpanels .menulist-editable-box[disabled="true"],
tabpanels .numberbox-input-box[disabled="true"] {
  -moz-appearance: none !important;
  border: 1px solid rgb(0,0,0) !important;
  border-top: 1px solid rgb(4,4,4) !important;
  border-left: 1px solid rgb(5,5,5) !important;
  border-right: 1px solid rgb(5,5,5) !important;
  border-bottom: 1px solid rgb(8,8,8) !important;
  background:  rgba(0,0,0,0.16) !important;
  background-image: url("images/stripe-3.png")!important;
  background-size: 6px;
    background-repeat: repeat;
    background-position: top left;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.14) inset,
				0 1px 0 rgba(0,0,0,0.04) inset,
			  0px 1px 0 rgba(255,255,255,.02) !important;
			  
}

.spinbuttons-up {
  -moz-appearance: none !important;
  background-image: url("images/arrow-up.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

.spinbuttons-up:not([disabled]):hover,
.spinbuttons-up:not([disabled]):active:hover {
  background-image: url("images/arrow-up-hov.gif") !important;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("images/arrow-up-dis.gif") !important;
}

.spinbuttons-down {
  -moz-appearance: none !important;
  background-image: url("images/arrow-down.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

.spinbuttons-down:not([disabled]):hover,
.spinbuttons-down:not([disabled]):active:hover {
  background-image: url("images/arrow-down-hov.gif") !important;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("images/arrow-down-dis.gif") !important;
}

/***********Tree*********************/
tree {
  -moz-appearance: none !important;
  color: #ababab !important;
  }
  
tree[seltype="cell"] > treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
treechildren::-moz-tree-cell-text {
  color: #ababab !important;
}  

treechildren::-moz-tree-cell-text(hover) {
  color: #cbcbcb !important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) ,
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected) {
  color: #dddddd!important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus),
treechildren::-moz-tree-cell-text(selected, focus),
treechildren::-moz-tree-cell-text(hover, selected, focus) {
  color: #ffffff !important;
}
/*****/
tree[seltype="cell"] > treechildren::-moz-tree-line,
tree[seltype="text"] > treechildren::-moz-tree-line,
treechildren::-moz-tree-line {
  border: 1px dotted #404046 !important; 
}

tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus),
treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted #dbdbdb !important;
}

/****************************   Headers  *****************************/
/* Headers  */
dialogheader {
    border: 1px solid rgba(0,0,0,0.65) !important;
    opacity: .2px !important;
}

.dialogheader-title {
  color: #ededed !important;
  font-weight: bold !important;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.22) !important;
}

caption {
  color:  #E8AC27 !important;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.4) !important; 
  } 
  
notification {
  background:  #E8AC27;
  
  }

/**********************************Tooltips*****************************/
tooltip {
-moz-appearance: none !important;
border: 0px solid rgba(0,0,0,0.12)!important;
border-radius: 2px !important;
box-shadow: 0 0 1px 1px rgba(255,255,255,0.03) inset!important;
background-color: rgba(10,10,10,0.9) !important;
background-image: none!important;
}

tooltiptext {
color: #bababa !important;
-moz-appearance: none !important;
}

tooltip label,
.tooltip-label {
	margin: 0px !important;
	padding: 0 2px 0 2px!important;
	color: #bababa!important;
	font-weight: bold!important;
	font-size: .905em !important;
    text-shadow: 0 1px rgba(0,0,0,0.45)!important;
}

/********************************Dialog Windows************************/
dialog,
wizard,
prefwindow,
#clientBox,
/*#placesView,
menubar,*/
windowdragbox {
  -moz-appearance: none!important;
  background-color: #1a1a1a !important;
  }

/*******************Download Manager**********************************/
#downloadView {
  -moz-appearance: none !important;
  color: #adadad !important;
  background: url("images/selection-toolbar.png") repeat!important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45) inset !important;
  }

/* Download View Items */
richlistitem[type="download"],
richlistitem[type="download"]:not([selected="true"]):nth-child(odd) {
  -moz-appearance: none !important;
  background-color: transparent !important;
  box-shadow:0 1px 0 rgba(21,68,120,0.14)!important;
  border-bottom: 1px solid transparent!important;
}

richlistitem[type="download"]:last-of-type,
richlistitem[type="download"]:not([selected="true"]):nth-child(odd):last-of-type {
  box-shadow: none!important;
}

richlistitem[type="download"]:hover,
richlistitem[type="download"]:not([selected="true"]):nth-child(odd):hover {
  background: rgba(20,68,120,0.11) !important;
  -moz-transition: .3s ease-in !important;
  box-shadow:0 1px 0 rgba(21,68,120,0.21)!important;
  -moz-transition: .35s ease-in !important;
}

richlistitem[type="download"][selected="true"],
richlistitem[type="download"][selected="true"]:nth-child(odd) {
  -moz-appearance: none !important;
  background: rgba(21,68,120,0.97) !important;
  color: #fff !important;
  border-bottom: 1px solid transparent!important;
  outline: none !important;
  box-shadow: 1px 1px 0 rgba(21,68,120,0.98) inset,
				-1px -1px 0 rgba(21,68,120,0.98) inset !important;
}

richlistitem[type="download"][selected="true"]:hover,
richlistitem[type="download"][selected="true"]:nth-child(odd):hover {
  background: rgba(21,68,120,1.0) !important;
}

/*progressmeter,
#downloadManager progressmeter,
#downloadsPanel progressmeter,
#addon-progress-notification progressmeter {
  -moz-appearance: none !important;
  background: rgba(0,0,0,0.28) !important;
  border-radius: 2px !important;
  border: 1px solid rgba(0,0,0,0.42) !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,.16)inset,
				1px 1px 0 rgba(0,0,0,0.15)inset,
				0 1px 0px rgba(255,255,255,0.04)!important;
	height: 16px!important;
  min-height: 16px!important;			
}

#downloadsPanel progressmeter,
#addon-progress-notification progressmeter {
	height: 8px!important;
	min-height: 8px!important;			
}



.progress-bar,
#downloadManager .progress-bar,
#downloadsPanel .progress-bar,
#addon-progress-notification .progress-bar  {
  -moz-appearance: none !important;
  margin: 1px !important;
  background: rgb(21,68,120)!important;
  border-radius: 2px !important;
  border: 1px solid rgba(9,9,9,0.18) !important;
  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
  box-shadow: -1px 1px 1px rgba(255,255,255,0.11)inset,
				1px 0 0px rgba(255,255,255,0.11)inset!important;
	height: 14px!important;
  min-height: 14px!important;			
}

#downloadsPanel .progress-bar,
#addon-progress-notification .progress-bar  {
	height: 6px!important;
	min-height: 6px!important;			
}

.popup-progress-label,
.popup-progress-meter {
  -moz-margin-start: 0!important;
  -moz-margin-end: 0!important;
}*/

richlistitem[type="download"] .status {
  -moz-appearance: none !important;
  color: #50505A !important;
  }

richlistitem[type="download"][selected="true"] .status {
  -moz-appearance: none !important;
  color: #a0ff3c !important;
  }


/*********************&&&&&&&**************************/
/* Tabstrip */

#tabbrowser-tabs {
  -moz-appearance: none !important;
  background: #181818 !important;
  height: 28px !important;
  border-radius: 0px !important;
  border-width: 1px 0 0 0 !important;
  border-style: solid !important;
  margin: 0px !important;
  padding: 0px !important;
  color: #858585 !important;
  border-color: #121212 !important;
  border-top-color: #1f1f1f !important;
  box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.2)inset !important;
  border-bottom: 0px !important;
}

/* image preloading hack */
#tabbrowser-tabs::before {
  background-image:none !important;
}

.tab-background,
.tabs-newtab-button {
  /* overlap the tab curves */
  -moz-appearance: none !important;
  -moz-margin-end: -1px!important;
  -moz-margin-start: -1px!important;
  border-width: 0 !important;
}

.tabs-newtab-button {
  width: 36px !important;
}

.tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,
.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after,
.tab-background-middle[selected=true] {
  -moz-appearance: none !important;
  background-clip: padding-box, padding-box, content-box;
  background-color: #121212 !important;
  background-image: none !important;
  background-repeat: repeat-x;
  background-size: auto;
  /* The padding-top combined with background-clip: content-box (the bottom-most) ensure the
     background-color doesn't extend above the top border. */
  padding-top: 2px;
  
  border-radius: 2px 2px 0 0 !important;
    border-width: 0px 1px 3px 1px !important;
    border-style: solid !important;
    border-color: #1f1f1f !important;
    border-bottom-color: #121212 !important;
    border-left: 1px solid #191919 !important;
    border-right: 1px solid #191919 !important;
    box-shadow: inset 0 -2px #154478,
    inset 0 -3px rgba(255,255,255, 0.07)
    !important;
}

.tab-background-middle[selected=true],
.tabbrowser-tab[selected="true"] {
  color: #cdcdcd !important;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,.18) !important;
  moz-transition: .40s ease-in !important;
}

.tab-background-middle[selected=true]:hover,
.tabbrowser-tab[selected="true"]:hover {
  color: #dddddd !important;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,.18) !important;
}

.tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after {
	border-radius: 2px 0px 0 0 !important;
    border-width: 0px 0px 3px 1px !important;
    border-style: solid !important;
    border-color: #1f1f1f !important;
    border-bottom-color: #121212 !important;
    border-left: 1px solid #191919 !important;
}

.tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after {
	border-radius: 0px 2px 0 0 !important;
    border-width: 0px 1px 3px 0px !important;
    border-style: solid !important;
    border-color: #1f1f1f !important;
    border-bottom-color: #121212 !important;
    border-right: 1px solid #191919 !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
.tabs-newtab-button:hover {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: rgba(255,255,255,0.01) !important;
  border-left: 1px solid #1d1d1d !important;
    border-right: 1px solid #1d1d1d !important;
	border-radius: 0;
	box-shadow: inset 0 2px 0 #242424 !important;
	    border-bottom-width: 2px solid #242424 !important;
	    border-top-width: 0px;
	    /*box-shadow: 0px 2px 3px  rgba(0,0,0,0.3)inset,
	    inset 0 -5px 0 #242424 !important;*/
	box-shadow: inset 0 3px rgba(0,0,0, 0.03), inset 0 2px rgba(0,0,0, 0.03), inset 0 1px rgba(0,0,0, 0.03),
	inset 0 -4px 0 #242424 ,
    inset 0 -5px rgba(255,255,255, 0.07)
    !important;
    color: #ff0000 !important;
    text-shadow: 0px -1px 0px rgba(0,0,0,.16) !important;
}

.tabbrowser-tab:hover,
.tabs-newtab-button:hover {
  color: #b2b2b2 !important;
    text-shadow: 0px -1px 0px rgba(0,0,0,.16) !important;
}

.tabbrowser-tab[pinned]:hover > .tab-stack > .tab-background:not([selected=true]) {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: rgba(255,255,255,0.01) !important;
  border-left: 0px solid #1d1d1d !important;
    border-right: 0px solid #1d1d1d !important;
	border-radius: 0;
	/*box-shadow: 0px 2px 3px  rgba(0,0,0,0.3)inset,
	    inset 0 -5px 0 #242424 !important;*/
	box-shadow: inset 0 3px rgba(0,0,0, 0.03), inset 0 2px rgba(0,0,0, 0.03), inset 0 1px rgba(0,0,0, 0.03),
	inset 0 -4px 0 #242424 ,
    inset 0 -5px rgba(255,255,255, 0.07)
    !important;
}

.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content {
  -moz-appearance: none !important;
  background-image: none !important;
  background-size: auto !important;
}

#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
  -moz-appearance: none !important;
  -moz-margin-start: 0px !important;
  -moz-margin-end: 0px !important;
  background-image: none !important;
  content: "";
  display: -moz-box;
  width: 0 !important;
}

